*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: SFProText-Medium, Helvetica, Arial, sans-serif;

}
body{
    background-color: #606770;
}
.main{
    background-color: #FFFFFFCC;
    height: 828px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-signup{
    background: #ffffff;
    border-radius: 8px;
    overflow: visible;
    padding: 0;
    width: 432px;
    text-align: left;
    color: #1c1e21;
    direction: ltr;
    line-height: 1.34;
    box-shadow: 0 0 4px 2px #d7d9dc;
}
.header-signup{
    padding: 10px 16px;
    border-bottom: 1px solid #ccd0d5;

}
.header-signup div:first-child{
    color: #1c1e21;
    font-family: SFProDisplay-Bold, Helvetica, Arial, sans-serif;
    font-size: 32px;
    line-height: 38px;
    margin-bottom: 0;
    text-align: left;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
}
.header-signup p:first-child{
    color: #606770;
    font-family: SFProText-Regular, Helvetica, Arial, sans-serif;
    font-size: 15px;
    line-height: 24px;
    font-weight: normal;
}
.header-signup img:first-child{
    width: 24px;
    height: 24px;
}


.main-signup {
    position: relative;
    padding: 16px 16px;
}

.main-signup form > div{
    margin-bottom: 10px;
}
form input:-visible{
    outline: none;
}

.row{
    display:flex;
}
.row-name div:first-child{
    margin-right: 11px;
    position: relative;
}

.field{
    padding: 11px;
    font-size: 15px;
    line-height: 16px;
    border-color: #ccd0d5;
    border-radius: 5px;
    border: 1px solid #ccd0d5;
    width: 194px;
    background: #f5f6f7;
    color: #1c1e21;
}
.row-contact input{
    width: 399px;
}
.row-password input{
    width: 399px;
}

.small-script{
    margin-top: 2px;
    font-size: 12px;
    font-weight: normal;
    line-height: 20px;
    color: #606770;
}

.row-date{
    margin-bottom: 10px;
}
.row-date > select{
    border-radius: 4px;
    padding: 0 8px;
    padding-right: 20px;
    background-size: 14px;
    font-size: 15px;
    font-weight: normal;
    height: 36px;
    line-height: 20px;
    width: 125px;
    border: 1px solid #ccd0d5;
    margin-left: 8px;   
}
.row-date > select:first-child{
    margin-left: 0;

}
.row-date > select:last-child{
    margin-right: 0;

}

.row-gender{
    display: flex;
}
.row-gender > div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ccd0d5;
    height: 36px;
    border-radius: 4px;
    margin: 0px 15px 0px 0px;
    padding: 0 12px;
    padding-right: 10px;
    font-size: 15px;
    font-weight: normal;
    line-height: 20px;
    width: 125px;
}
.row-gender >div:first-child{
    margin-left:0;
    width:104.68px;
}
.row-gender >div:last-child{
    margin-right:0;
    width: 148.84px;
}
.row-gender > div:first-child +div{
    width: 115.48px;

}
.female{
    width: 104.68px;
}
.male{
    width: 115.48px;
}
.fix-gender{
    width: 148.84px;
}

.detail_policy{
    color: #777;
    font-size: 11px;
    margin: 1em 0;
    text-align: left;
    line-height: 1.34;
}
.detail_policy > a{
    color: #385898;
    text-decoration: none;
}
.detail_policy a:hover{
    text-decoration: underline;
}
.row-button{
    display:flex;
    justify-content: center;
}

.button-submit{
    background-color: #00a400;
    border-radius: 6px;
    color: #fff;
    font-size: 18px;
    height: 36px;
    padding: 0 59px;
    border: none;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 600;
    letter-spacing: 1px;
}


.cross-icon{
    font-size: 25px !important;
    font-weight: 200;
    color: #606770;
}

.wrap-field{
    position: relative;
}
.icon-exclamation{
    position: absolute;
    right: 12px;
    top: 12px;
    color:red
}
.hidden-icon{
    opacity: 0;
}
.error{
    border-color: red;
}

.alert-message{
    position: relative;
    /* width: 109px;
    height: 43px; */
    top: 70px;
    background-color: #be4b49;
    color: #fff;
    font-size: 13px;
    line-height: 17.42px;
    padding: 13px;
    border-radius: 3px;
    z-index: 100;
    display: none;
}
.alert-message::before{
    content: '';
    background-color: #be4b49;
    position: absolute;
    height: 15px;
    width: 15px;
    right: 68px;
    top: -7px;
    transform: rotate(45deg);
}
.alert-message-left{
    left: 0;
    position: relative;
    background-color: #1c1e21;
    color: #fff;
    font-size: 13px;
    line-height: 17.42px;
    padding: 13px;
    border-radius: 3px;
    z-index: 100;
    /* display: none; */
}
.alert-message-left::before{
    content: '';
    background-color: #be4b49;
    position: absolute;
    height: 15px;
    width: 15px;
    right: 68px;
    top: -7px;
    transform: rotate(45deg);
}
#alert-lastname{
    position: absolute;
}
#alert-firstname{
    position: absolute;
    left:220px;
}
#alert-contact{
    position: absolute;
    top:122px
}
#alert-pass{
    position: absolute;
    top:170px
}
