*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Product Sans',Arial,sans-serif;

}
:root {
    --header-height:96px; 
  }
img{
    vertical-align: top;
} 
.icon span{
    padding: 12px;
    vertical-align: top;
    color: #444;
    /* height: 48px; */
    overflow: hidden;
    /* width: 48px; */
    cursor: pointer;
}
.icon span:hover{
    transition: background .3s;
    border-radius: 50%;
    background: #f1f3f4;
}
.icon-small span{
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.avatar:hover{
    transition: background .3s;
    background: #f1f3f4;
}
.nav-header {
    width:100%;
    display: flex;
}
.nav-header .wrap-header{
    width:100%;
    padding: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
/* Nav header contain logo and script logo */

.nav-header .wrap-header .wrap-image:hover{
  cursor: pointer;
}
.nav-header .wrap-header .wrap-image div{
    display:flex;
    align-items: center;
    padding: 6px 0px 2px 12px;
}
.nav-header .wrap-header .wrap-image div span{
    font-size: 22px;
    line-height: 24px;
    padding-left: 4px;
    color: #5f6368;
    position: relative;
    vertical-align: middle;
}
.nav-header .wrap-header .wrap-item{
display: flex;

}
/* Nav header right contain date and other icon such as info setting question */

.nav-header .wrap-item .item-left{
    display: flex;
    align-items: center;
}
.nav-header .wrap-item .item-left .wrap-icon{
    display: flex;
}

.nav-header .wrap-item .wrap-date{
    font-family: 'Product Sans',Arial,sans-serif;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 1.5rem;
    color: #5f6368;
    margin-right: 12px;
}
/* Nav header right contain icon app and account */
.nav-header .wrap-item .item-right {
    display: flex;
}
.nav-header .wrap-item .item-right .wrap-account{
    display: flex;
    align-items: center;
}
.nav-header .wrap-item .item-right .wrap-account{
    display: flex;
    padding: 0px 4px 0px 30px;
}

.nav-header .wrap-item .item-right .wrap-account .apps {
    padding: 4px 2px 4px 0px;
}
.nav-header .wrap-item .item-right .wrap-account .wrap-avatar {
    padding: 4px 2px 4px 6px;
}
.nav-header .wrap-item .item-right .wrap-account .avatar {
    padding:4px;
    border-radius:50%;
}
.nav-header .wrap-item .item-right .wrap-account .avatar img{
    width: 32px;
    border-radius:50%;
    height: 32px;
    cursor: pointer;
}

.main{
    display: flex;
    justify-content: space-evenly;
    /* min-height: calc("~100vh - @{header-height}"); */
    height: 864px;
    align-items: center;
}
.main .left{
    width: 656px;
    min-height: 40px;
    flex-direction: column;
    padding: 1em 3em;
}
.main .left .title{
    font-size: 44px;
    line-height: 52px;
    padding: 0 0 22px;
}
.main .left .script{
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 1.5rem;
    padding-bottom: 3em;
    max-width: 30rem;
}

/* wraping button and input new meeting */
.main .left .wrap-button{
    display: flex;
}
.main .left .wrap-button .btn-meeting{
    background-color: #1a73e8;
    color:#fff;
    font-size: 1rem;

    border: none;
    border-radius: 4px;

    padding: 0 16px 0 12px;
    height: 3em;
    margin: 6px 24px 16px 0px;

    display:flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;


}
.main .left .wrap-button .btn-meeting:hover{
    cursor: pointer;
    background-color: #00796b;
}
.main .left .wrap-button .video-call{
    margin:0px 8px 0px -4px;
    font-size: 18px;
}
.main .left .wrap-button .script-meeting{
    font-size: 16px;
    font-weight: 600px;
    letter-spacing: .0107142857em;
}
.main .left .wrap-button .link-meeting{
    min-width: 17em;
}
.main .left .wrap-button .link-meeting.active{
    min-width: 0;
}
.main .left .wrap-button .link-meeting .wrap-link{
    width: 100%;
    margin-top: 6px;
    padding-right: 8px;
}
.main .left .wrap-button .link-meeting .wrap-link >label{
    
}

.main .left .wrap-button .link-meeting .wrap-span{
    min-width: 100%;
    padding-right: 16px;
    /* 212123 */
    border:solid 1px #80868C;
    border-radius: 4px;
    height: 48px;
    display:inline-flex;
    align-items: center;
    
}

.main .left .wrap-button .link-meeting .wrap-span:hover{
    border:solid 1px #212123;
}
.main .left .wrap-button .link-meeting .wrap-link .active{
    border:solid 2px #1a73e8;
} 
.main .left .wrap-button .link-meeting .wrap-span span{
   margin :0px 8px 0px 16px;
    
}
.main .left .wrap-button .link-meeting .wrap-span input{
    outline: none;
    border: none;
    font-size: 1rem;
    letter-spacing: .00625em;
    font-weight: 400;
    color:#3C4044;
}
.main .left .border-line{
    border-bottom: 1px solid;
    border-color: #dadce0;
    margin-top: 18px;
    /* + 2padding div previous */
}

.main .left .more-info{
    letter-spacing: .00625em;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
    padding-top: 1.5em;
    color: #5f6368;
}
.main .left .more-info a{
    
    color: #1a73e8;
    text-decoration: none;
}
.main .left .wrap-join {
    /* margin-left: 16px; */
}
.main .left .wrap-join >button{
    color:#1a73e8;
    background: none;
    border:none;
    font-size: 16px;
    display:flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;

    padding: 0 8px;
    height: 3em;
    margin: 6px 24px 16px 0px;
}
.main .left .wrap-join{
    opacity: 0;

}
.main .left .wrap-join .join-script{
    width: 48px;
    letter-spacing: .0107142857em;
}


.main .right{
    width: 960px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em 3em;
}

.right .slide .btn-page{
    width: 48px;
    height: 48px;
    padding: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    background: none;
    border: none;
    margin-top: 141px;
    color: rgba(60,64,67,0.38);
    
}
.right .slide .btn-page.active:hover{
    border-radius: 50%;
    background: #f1f3f4;
    color:#000;
    
}
.right .wrap-slide{
    display: flex;
    justify-content: center;
}
.right .slide{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.right .img-slide{
    display:none;
    width: 330px;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.right .img-slide.active{
    display: flex;
}
.right .img-slide img{
    width: 330px;
    height: 330px;
    margin-bottom: 4px;
}
.right .img-slide .script{
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 2rem;
    margin-top: 12px;
}
.right .img-slide .detail{
    letter-spacing: .01428571em;
    font-family: Roboto,Arial,sans-serif;
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.25rem;
}
.right .wrap-slide .dot-slide {
    display: flex;
    justify-content: center;
    margin-top: 8px;
    height: 19px;
}
.right .wrap-slide .dot-slide .dot{
    background: #dadce0;
    border-radius: 50%;
    display: inline-block;
    height: 6px;
    margin: 0 4px;
    width: 6px;
    font-size: 1rem;margin-top: 9px;
    margin-bottom: 4px;
}
.right .wrap-slide .dot-slide .dot.active{
    background: #1a73e8;

    
}