.product-list {
    table {
        border-color: antiquewhite;
        width: 100%;
        border-collapse: collapse;
    }


    td,
    th {
        border: 1px solid #ddd;
        padding: 8px;
        color: #ddd;
    }

    thead {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: coral;
        color: white;
    }
}