.order {
    display: flex;
    justify-content: space-evenly;

    &-header {
        color: beige;
    }

    &-btn {
        color: whitesmoke;
        background-color: #222222;
        border: solid 1px #fff;
        border-radius: 10px;
        outline: none;
    }

    &-btn:hover {
        background-color: #111;
    }
}

.message {
    color: chartreuse;
    margin-left: 48px;
    position: absolute;
    right: 48px;
    top: 210px;
}

.form-handle {
    position: relative;
}

.message-success {
    color: chartreuse;
    position: absolute;
    bottom: 8px;
    display: flex;
    justify-content: center;
}

.order-list {
    table {
        border-color: antiquewhite;
        width: 100%;
        border-collapse: collapse;
    }


    td,
    th {
        border: 1px solid #ddd;
        padding: 8px;
        color: #ddd;
    }

    thead {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: coral;
        color: white;
    }
}

.wrap-form-order {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.wrap-link-order {
    display: flex;
    width: 60%;
    margin-top: 12px;
    justify-content: end;
}

.form-order {
    display: flex;
    flex-direction: column;
    width: 60%;
    background-color: bisque;
    padding: 30px;
    border-radius: 12px;
    max-width: 650px;
    // width: 50%;
    // justify-content: center;
    // align-items: center;

    label {
        color: magenta;
        font-size: 16px;
    }

    p {
        color: crimson;
        margin-bottom: 3px;
        display: block
    }

    input+p {
        color: crimson;
        margin-bottom: 3px;
        display: block
    }

    input {
        border: none;
        border-radius: 4px;
        background-color: white;
        padding: 5px;
    }

    button {
        display: block;
    }

    &-list-product {
        list-style-type: none;
        padding: 0;
        justify-content: space-around;

        .form-select-order {
            width: 40%;
            font-size: 16px;
        }

        li {
            display: flex;
            width: 100%;
            justify-content: space-between;
            margin-bottom: 8px;
        }
    }

    .delete-row {
        display: inline;
    }

    .add-more {
        width: 40%;
        display: block;
    }

}